.add-word {
    display: flex;
    flex-direction: column;
    padding-top: $m-size;
    &__input {
        color: $primary-color;
        flex-grow: 1;
        margin: 0 0 $s-size 0;
        padding: $m-size;
    }
    &-error {
        color: $warning-color;
        font-style: italic;
        margin: $m-size 0 0 0;
    }
    &__mobile {
        font-size: 2.5rem;
    }
}

@media (min-width: $desktop-breakpoint) {
    .add-word {
        flex-direction: row;

        &__input {
            margin: 0 $s-size 0 0;
        }
        &__mobile {
            display: none;
        }
    }
}