// Big Button
.big-button {
  background: $purple;
  border: none;
  border-bottom: .6rem solid darken($purple, 10%);
  color: white;
  display: block;
  font-weight: bold;
  font-size: $l-size;
  margin-bottom: $m-size;
  padding: 2.4rem;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.5s ease; 

  &:focus, &:hover {
    background-color: lighten($purple, 10%);
  }
}

.big-button:disabled {
  opacity: .5;
}

@media (min-width: $desktop-breakpoint) {
  .big-button {
    margin-bottom: $xl-size;
  }
}

// Button
.button {
  background: $purple;
  border: none;
  border-bottom: .3rem solid darken($purple, 10%);
  color: white;
  font-weight: 500;
  padding: $s-size;
  transition: background-color 0.5s ease; 

  &:focus, &:hover {
    background-color: lighten($purple, 10%);
  }
}

.button--link {
  background: none;
  border: none;
  color: $off-white;
  padding: 0;
}

.button--icon {
  background-color: darken($purple, 5%);
  border-bottom: none;
  font-size: $m-size;
  padding: $s-size 1.9rem;
}