.button {
  background: $primary-color;
  border: none;
  color: white;
  font-weight: 500;
  padding: $s-size;
  transition: background-color 0.5s ease;
  
  &:focus,
  &:hover {
      background-color: lighten($primary-color, 10%);
  }

  &--big {
    font-weight: bold;
    font-size: $l-size;
    margin-top: $m-size;
    padding: 2.4rem;
    width: 100%;
    &:disabled {
        background-color: $primary-bg-color;
        color: darken( $primary-bg-color, 10%);
    }
  }

  &--link {
      background: none;
      border: none;
      color: $primary-color;
      font-weight: bold;
      padding: 0;
      
      &:hover, &:focus {
        text-decoration: underline;
      }
  }

  &--icon {
    background-color: $primary-color;
    width: 5.4rem;
  }

  &--plus {
      @extend .button--icon;
      font-size: 2.8rem;
      width: auto;
  }
}

@media (min-width: $desktop-breakpoint) {
    .button--plus {
        width: 5.4rem;
    }
}
