.header {
  background: $primary-color;
  color: white;
  padding: $m-size 0;

  &__title {
    font-size: $l-size;
    margin: 0;
    padding: 0 $m-size;
  }

  &__subtitle {
    color: $off-white;
    font-size: $m-size;
    font-weight: 500;
    margin: 0;
  }
}

@media (min-width: $desktop-breakpoint) {
  .header {
    margin-bottom: $xl-size;

    &__title {
      padding: 0;
    }
  }
}