.option {
  border-bottom: 1px solid $border-color;
  display: flex;
  justify-content: space-between;

  &__text {
    border-left: 1px solid $border-color;
    color: $off-black;
    font-weight: 500;
    font-size: 2rem;
    margin: 0;
    padding: $m-size;
    word-break: break-all;
    flex: 1;
  }
}