.option {
  border-bottom: 1px solid lighten($light-blue, 10%);
  display: flex;
  justify-content: space-between;
}

.option__text {
  border-right: 1px solid lighten($light-blue, 10%);
  color: white;
  font-weight: 500;
  font-size: 2rem;
  margin: 0;
  padding: $m-size;
  word-break: break-all;
  flex: 1;

  &:last-child {
    border-right: none;
  }
}
