$height: 16px;

.progress {
    background-color: $bg-color;
    margin-bottom: $m-size;

    &__percent {
        background-color: $primary-color;
        height: $height;
        max-width: 100%;
        width: 0;
        transition: width 1s ease-in-out;
    }
}