.result {
    &__item {
        display: flex;
        background-color: white;
        margin-bottom: $m-size;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__default {
        background-color: $primary-color;
        color: white;
        display: flex;
        font-size: 2rem;
        flex: 1;
        flex-direction: column;
    }
    &__word {
        padding: $m-size;
        flex: 1;
        +.result__word {
            border-top: 1px solid $primary-bg-color;
        }
    }
    &__answer {
        @extend .result__word;
        align-items: center;
        border: .3rem solid $primary-color;
        color: $primary-color;
        display: flex;
        font-size: 2.8rem;
        justify-content: space-between;
        position: relative;
        &:before {
            content: '✔';
            position: absolute;
            color: lighten($primary-color, 20%);
            font-size: 8rem;
            right: 1.4rem;
            top: 1.4rem;
        }
    }
    &__count {
        @extend .question__title;
        font-size: 10rem;
        width: 12rem;
    }
    &__error {
        color: $warning-color;
        &:before {
            content: '✘';
            color: lighten($warning-color, 20%);
        }
    }
    &__label {
        position: absolute;
        top: $m-size;
        font-size: 1.5rem;
    }
    &__header {
        background-color: $primary-bg-color;
        color: $primary-color;
        display: flex;
        justify-content: space-between;
        margin: (-$m-size) (-$m-size) $m-size;
        padding: $m-size;
    }
    &__score {
        background-color: $primary-bg-color;
        color: lighten($primary-color, 20%);
        font-size: 15rem;
        line-height: 0.8;
    }
    &__title {
        margin: 0;
    }
}