.widget {
  background: white;

  &__message {
    color: $primary-color;
    margin: 0;
    padding: $l-size $l-size $m-size;
    text-align: center;
  }

  &__header {
    background: $primary-bg-color;
    color: $primary-color;
    display: flex;
    justify-content: space-between;
    padding: $m-size;
  }

  &__title {
    margin: 0;
  }
}