@import url('https://fonts.googleapis.com/css?family=Mukta+Mahee');

html {
  font-size: 62.5%;
}

body {
  background: $bg-color;
  font-family: 'Mukta Mahee', sans-serif;
  font-size: $m-size;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}
