@import url('https://fonts.googleapis.com/css?family=Mukta+Mahee');

html {
  font-size: 62.5%;
}

body {
  background: white;
  font-family: 'Mukta Mahee', sans-serif;
  font-size: $m-size;
}

button, input[type=button] {
  cursor: pointer;
}

button:disabled, input[type=button]:disabled {
  cursor: default;
}

input {
  font-family: 'Mukta Mahee', sans-serif;
  background: $primary-bg-color;
  border: .3rem solid $primary-color;
}

@media (min-width: $desktop-breakpoint) {
  body {
    background: $bg-color;
  }
}
